<!-- detection.html -->

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>AgriVision</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="stylesheet" href="../static/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/css/style.css">
   <link rel="stylesheet" href="../static/css/responsive.css">
   <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
   <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">
   <link rel="icon" href="../static/images/logo.png">
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div> -->
   <!-- end loader -->
   <div class="full_bg">
      <!-- header -->
      <header class="header-area">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class=" col-md-2 col-sm-3">
                  <div class="logo">
                     <a href="index">Agri<span>Vision</span></a>
                  </div>
               </div>
               <div class="col-md-8 col-sm-9">
                  <div class="navbar-area">
                     <nav class="site-navbar">
                        <ul>
                           <li><a class="active" href="index">Home</a></li>
                        </ul>
                        <button class="nav-toggler">
                           <span></span>
                        </button>
                     </nav>
                  </div>
               </div>
               <!-- <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
                        <li><a href="Javascript:void(0)">Login</a>
                        </li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div> -->
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <br>
      <br>
      <br>
      <br>
      <!-- Add this button to your detection.html -->
      <button id="startDetection">Start Detecting</button>


      <!-- footer -->
      <div class="copyright">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-8">
                  <p>© 2023 All Rights Reserved.</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </footer>
   <!-- end footer -->
   </div>
   <!-- Javascript files-->
   <script src="../static/js/jquery.min.js"></script>
   <script src="../static/js/bootstrap.bundle.min.js"></script>
   <script src="../static/js/jquery-3.0.0.min.js"></script>
   <script src="../static/js/owl.carousel.min.js"></script>
   <script src="../static/js/bootstrap-datepicker.min.js"></script>
   <script src="../static/js/custom.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <script>
      $(document).ready(function () {
         $("#startDetection").click(function () {
            // Send an AJAX request to the Flask server
            $.ajax({
               type: "GET",
               url: "/start_detection",  // Update the URL to the endpoint you want to trigger
               success: function (response) {
                  // Handle the response if needed
                  console.log(response);
               },
               error: function (error) {
                  // Handle errors if any
                  console.error(error);
               }
            });
         });
      });
   </script>
</body>

</html>